include brukerapi/config/schema_2dseq_core.json
include brukerapi/config/schema_2dseq_custom.json
include brukerapi/config/schema_fid_core.json
include brukerapi/config/schema_fid_custom.json
include brukerapi/config/schema_rawdata_core.json
include brukerapi/config/schema_rawdata_custom.json
include brukerapi/config/schema_traj_core.json
include brukerapi/config/schema_traj_custom.json